go 1.18

use (
	./op-batcher
	./op-bindings
	./op-e2e
	./op-exporter
	./op-node
	./op-proposer
	./op-service
)

replace github.com/ethereum/go-ethereum v1.10.21 => github.com/ethereum-optimism/reference-optimistic-geth v0.0.0-20220810221227-a68e5aa189e1

// For local debugging:
//replace github.com/ethereum/go-ethereum v1.10.21 => ../go-ethereum
